name: stack_deferred_link
description: "Lightweight Flutter plugin enabling Android Install Referrer & iOS clipboard deferred deep linking to land users on exact screens."
version: 1.0.1
homepage: https://github.com/stackobea/stack_deferred_link
repository: https://github.com/stackobea/stack_deferred_link
issue_tracker: https://github.com/stackobea/stack_deferred_link/issues
documentation: https://github.com/stackobea/stack_deferred_link/

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.stackobea.stack_deferred_link
        pluginClass: StackDeferredLinkPlugin
      ios:
        pluginClass: StackDeferredLinkPlugin